:root {
  --radius: 8px;
  --primary-color: #1d4ed8;
}

.hero-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 48px;
  background-color: white;
  border-radius: var(--radius);
  border: 1px solid #e5e7eb;
}

.hero-image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: var(--radius);
}

.hero-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 48px;
}

.hero-title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--primary-color);
}

.hero-subtitle {
  color: white;
  font-size: 18px;
  margin-bottom: 24px;
  max-width: 672px;
}

.hero-button {
  padding: 12px 32px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  border-radius: var(--radius);
  cursor: pointer;
  transition: opacity 0.3s;
}

.hero-button:hover {
  opacity: 0.9;
}

/* Tablet */

@media (max-width: 1024px) {
  .hero-title {
    font-size: 56px;
  }

  .hero-image {
    height: 520px;
  }

  .hero-container,
  .hero-content {
    padding: 32px;
  }
}

/* mobile */

@media (max-width: 768px) {
  .hero-container {
    padding: 24px;
  }

  .hero-image {
    height: 80vh;
  }

  .hero-content {
    padding: 24px;
  }

  .hero-title {
    font-size: 36px;
    margin-bottom: 12px;
  }

  .hero-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .hero-button {
    padding: 10px 24px;
    font-size: 14px;
  }
}

/* mobile */

@media (max-width: 480px) {
  /* .hero-image {
    height: 340px;
  } */

  .hero-title {
    font-size: 28px;
  }

  .hero-subtitle {
    font-size: 14px;
  }

  .hero-button {
    padding: 8px 20px;
    font-size: 13px;
  }
}
