@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #333;
  --bg-color: #fff;
  --text-color: #000;
  --radius: 8px;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

.profile-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  border-radius: var(--radius);
  border: 1px solid #ddd;
  text-align: center;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
